@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #09090b; /* Zinc 950 - ดำสนิท */
  --foreground: #fafafa; /* Zinc 50 - ขาว */
  --card: #18181b; /* Zinc 900 - เทาเข้ม */
  --card-foreground: #fafafa;
  --border: #27272a; /* Zinc 800 */
  --accent: #dc2626; /* Red 600 - แดงเลือดหมู */
  --accent-hover: #b91c1c; /* Red 700 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overscroll-behavior-y: none; 
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}